<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <input name="mobile" placeholder="mobile"/>
        <input name="password" placeholder="password"/>
        <button> Log in</button>
    </div>
    <script>


        var loginForm = document.getElementsByTagName("div")[0];
        var btn = loginForm.children[2].onclick = function(){
            var mobile = loginForm.children[0].value;
            var password = loginForm.children[1].value;
            console.log("called");
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/login");
            xhr.setRequestHeader("content-type", "application/json");
            xhr.send(JSON.stringify({"mobile": mobile, "password": password}));
            xhr.onreadystatechange = function(){
                if(xhr.readyState == 4){
                    console.log(xhr.responseText);
                }
            }
        };

        
    </script>
</body>
</html>