<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form enctype="multipart/form-data" method="post" action="/products/new">
        <input name="name" placeholder="name" type="text"/>
        <input name="img" placeholder="image" type="file"/>
        <input name="price" placeholder="price" type="text"/>
        <input name="quantity" placeholder="quantity"type="text"/>
        <input name="categories" placeholder="categories" type="text"/>
        <button>Create</button>
    </form>
</body>
</html>